<div id="comments" style="margin-top: 20px; padding-bottom: 20px;">
    <script src="https://giscus.app/client.js"
            data-repo="yulv706/blog"
            data-repo-id="R_kgDOMXBTdw"
            data-category="Announcements"
            data-category-id="DIC_kwDOMXBTd84Cg4vf"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="preferred_color_scheme"
            data-lang="zh-CN"
            crossorigin="anonymous"
            async>
    </script>
</div>
